.imblueify {
    color:cornflowerblue;
  }
  p {
    background-color:lightcoral;
    color:ivory;
  }

  #codeperson{
    color: coral;
  }
  h3{
    font-size: 20px;
    
  }

  #boldlinky{
    font-weight:bold;
  }