
h3{
  font-size: 20px;
  
}

body {
  margin: 0; 
}

#navigation{
  background-color: lightskyblue;
}

#navigation > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
}

#navigation > ul > li{
  margin: 0 10px 0 0;
  display: inline;
}

#header{
 padding: 10px;
  background-color: lavenderblush;
}

#content{
 padding: 10px;
  background-color: lightgoldenrodyellow;
}

#footer{
  padding: 10px;
  background-color: lightgreen;
}


.imblueify {
    color:cornflowerblue;
  }
 
 



  #codeperson{
    color: coral;
  }
  

  #boldlinky{
    font-weight:bold;
  }