h1{
  font-family: Inconsolata ,serif;
}

h3{
  font-size: 20px;
  
}

body { 
  display: grid;
  grid-template-rows: min-content min-content auto min-content;
  grid-template-areas:
    "navigation"
    "header"
    "content"
    "footer";
    min-height: 100vh;
}

img{
  width: 100%;
  max-width: 500px;
}

.fa-instagram {
  color: black;
 }

.fa-github {
  color:black;
 }

#navigation{
  background-color: lightskyblue;
}

#navigation > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 10px;
  list-style: none;
}

#navigation ul > li{
  margin: 0 10px 0 0;
 
}

#navigation .container{
  margin: 0 auto;
}

#navigation li {
  position: relative;
}

#navigation a + ul{
  background-color: hotpink;
  display: none;
  position: absolute;
  top:10px;
  left: 10px;
}

#navigation a:hover + ul,
#navigation a + ul:hover {
display: flex;
flex-direction: column;
}

#footer .container{
  margin: 0 auto;
}

#content p + ul{
  background-color: blueviolet;
}

#content li {
  background-color: deepskyblue;
}

#content li:first-child{
  background-color: hotpink;
}

#content li:nth-child(2){
  background-color:orange;
}

#content li:last-child{
  background-color: yellow;
}

#content li:nth-child(3n){
  background-color:turquoise;
}

#header{
 padding: 10px;
  background-color: powderblue;
}

#content{
 padding: 10px;
  background-color: rgb(115, 145, 236);
}

#footer{
  background-color: rgb(204, 173, 230);
}

#footer > ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  
}

#footer > ul > li{
  margin: 0;
  display: inline;
}


.imblueify {
    color: royalblue;
  }
 
  #codeperson{
    color: coral;
  }
  

  #boldlinky{
    font-weight:bold;
  }

  .container {
   margin:0 auto;
    max-width: 760px;
    width: 100%
  }